### 1) Creating two Lists & concatenate them

In [8]:
ListTeams =["India", "England", "NZ", "Aus"]
ListCaptains =["Kohli","Root","Williaamson", "Smith"]

#concatenate two lists index wise
#create dictionary
zipp = zip(ListTeams,ListCaptains)
zipdict = dict(zipp)
print(zipdict)


#create by list
zipped = zip(ListTeams,ListCaptains)
ziplist = list(zipped)
print(ziplist)

{'India': 'Kohli', 'England': 'Root', 'NZ': 'Williaamson', 'Aus': 'Smith'}
[('India', 'Kohli'), ('England', 'Root'), ('NZ', 'Williaamson'), ('Aus', 'Smith')]

### 2) Given a list of books, their prices, and the quantities that you purchased, print out the total amount spent on each item

In [10]:
books = ["textbooks", "exercise books", "story book", "drawing books"]
prices = [100,60,90,70]
quantity = [3,2,1,4]
#concatenate & print
for i in range(len(books)):
     print(" You bought",quantity[i], books[i],"for","$",prices[i]* quantity[i])
            
#another solution
for x,y,z in zip(books,prices,quantity):
    print(f"You bought {z} {x} for ${y*z}")

You bought 3 textbooks for $300
You bought 2 exercise books for $120
You bought 1 story book for $90
You bought 4 drawing books for $280

### 3) Given a Python list. Add 10 to each item of the list 1.

In [13]:
ListNo = [2,4,6,8,10]

x = [i+10 for i in ListNo]
print(x)

[12, 14, 16, 18, 20]

### 4) Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order

In [15]:
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]
list2.reverse()

for i in range(len(list1)):
    print(list1[i],list2[i])

10 Grapes
20 Oranges
30 Mangoes
40 Apples

In [1]:
#another method
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]
list2.reverse()
for x,y in zip(list1,list2):
    print(x,y)

10 Grapes
20 Oranges
30 Mangoes
40 Apples

In [7]:
#by using negative indexing and slicing in python
#list1[-4]
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]
for x,y in zip(list1,list2[::-1]):
    print(x,y)

10 Grapes
20 Oranges
30 Mangoes
40 Apples

In [10]:
list1[::]

[10, 20, 30, 40]

### 5) Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list

In [3]:
lis1 =  ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
lis2 =  ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

lis1[2][1][2].extend(sub_list)
print(lis1)

lis2[2][1][2].append(sub_list)
print(lis2)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

### 6) Given a Python list, write a program to remove all occurrences of item 15

In [117]:
List1= [10,15,20,15,32,54,15]
for x in List1:
    if x== 15:
        List1.remove(x)
print(List1)

[10, 20, 32, 54]

In [4]:
List1= [10,15,20,15,32,54,15]
while 15 in List1:
    List1.remove(15)
print(List1)

[10, 20, 32, 54]

### 7) Merge following two Python dictionaries into one

In [122]:
# code
# Python code to merge dict using a single 
# expression
def Merge(dict1, dict2):
    res = dict1 | dict2
    return res


dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}
dict_3 = Merge(dict_1,dict_2)
print(dict_3)

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

In [5]:
#update()
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}
dict_1.update(dict_2)
print(dict_1)

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

In [6]:
#unpack operator
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}
dict_4 = {**dict_1,**dict_2}
print(dict_4)

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

### 8) Change the key of the first entry from 0 to 4 in the following dictionary

In [8]:
d = {0: 0, 1: 1, 2: 2, 3: 3}
k_old =0
k_new =4
d[k_new] = d.pop(k_old)
print(d)

{1: 1, 2: 2, 3: 3, 4: 0}

### 9)  two lists convert it into the dictionary

In [7]:
country=["USA","France","India"]
capital= ["Washington D.C.","Paris","New Delhi"]
zipone = zip(country,capital)
zipdict = dict(zipone)
print(zipdict)
#or zipdict = dict(zip(country,capital))

{'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi'}

### 10) Delete set of keys from Python Dictionary

In [136]:
My_dict = {"Fruit": "Pear",
       "Vegetable": "Carrot",
       "Pet": "Cat",
       "Book": "Moby dick",
       "Crystal": "Amethyst"
             }

My_dict.pop("Book")
My_dict.pop("Crystal")

print(My_dict)

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

In [9]:
My_dict = {"Fruit": "Pear",
       "Vegetable": "Carrot",
       "Pet": "Cat",
       "Book": "Moby dick",
       "Crystal": "Amethyst"
             }
keys =['Book','Crystal']
for i in keys:
    My_dict.pop(i)
print(My_dict)

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

### 11) Create a new dictionary by extracting the following keys from a given dictionary

In [138]:
sub_dict = {'math' : 100, 'chem' : 98, 'sci' : 100,'eng':100}

res = {key: sub_dict[key] for key in sub_dict.keys()
& {'math', 'chem','sci'}}

print(res)

{'sci': 100, 'chem': 98, 'math': 100}

### 12) Given a list iterate it and display numbers which are divisible by 5.

In [11]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
list2 =[]
for x in list1:
    if x % 5 == 0:
        list2.append(x)
print(list2)

[15, 55, 75, 150, 180, 200]

In [10]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
list5 = [i for i in list1 if i%5==0]
print(list5)

[15, 55, 75, 150, 180, 200]

### 13) Write a program to display only those numbers from a list that satisfy the following 
conditions
â€¢ The number must be divisible by five
â€¢ If the number is greater than 150, then skip it and move to the next number
â€¢ If the number is greater than 500, then stop the loop
 numbers = [12, 75, 150, 180, 145, 525, 50]

In [13]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for item in numbers:
    if item >500:
        break
    elif item >150:
        continue
    elif item%5==0:
        print(item)

75
150
145

### 14) Write a Python program to count Uppercase, Lowercase, special character and numeric values in a given string

In [18]:
str = "@W3Resource.Com"
def count_chars(str):
    upper_ct,lower_cnt,number_cnt,special_ctr =0,0,0,0
    for i in range(len(str)):
        if str[i] >= 'A' and str[i] <= 'Z':upper_ct +=1
        elif str[i] >= 'a' and str[i] <= 'z': lower_cnt +=1
        elif str[i] >= '0' and str[i] <= '9':number_cnt +=1
        else :special_ctr +=1
    return upper_ct,lower_cnt,number_cnt,special_ctr

In [20]:
print("Original Substrings." ,str)
u,l,n,s = count_chars(str)
print('\nUpper case characters :',u)
print('Lower case characters :',l)
print('Numbers :',n)
print('Special characters :',s)

Original Substrings. @W3Resource.Com

Upper case characters : 3
Lower case characters : 9
Numbers : 1
Special characters : 2

### 15) Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [23]:
n = 5
start =2
sum_seq =0

for i in range(0,n):
    print(start,end="+")
    sum_seq+= start
    #calculate the next term
    start = start * 10 +2
print("\nSum of above series is ",sum_seq)

2+22+222+2222+22222+
Sum of above series is  24690